{% extends "home/layout.html" %}

{% block css %}

{% endblock %}

{% block content %}
    <div style="margin-top: 50px;" class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>Shopping Cart</h1>
                    </div>
                    <div class="breadcrumb-content breadcrumb-content-tow">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Shopping Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
    <h1 style="color: red">Your cart is empty!</h1>
    </div>
{% endblock %}

