{% extends "home/layout.html" %}

{% block js %}
    <style>
        .error {
            color: red;
        }
    </style>
{% endblock %}



{% block content %}
    <div style="margin-top: 50px" class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>Change the password</h1>
                    </div>
                    <div class="breadcrumb-content breadcrumb-content-tow">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Change the password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area mb-80">
        <div class="container">
            <div class="row">
                <!--Login Form Start-->

                <div class=" col-md-6 col-sm-6" style="margin:auto">
                    <div class="customer-login-register">
                        <div class="form-login-title">
                            <h2>Change the password</h2>
                        </div>
                        <div class="login-form">
                            <form action="" method="post">
                                <div class="form-fild">
                                    <p><label>Old Password <span class="required">*</span></label></p>
                                    <input name="old_password" type="password" autocomplete="off"
                                           value="{{ data['old_password'] }}">
                                    <span class="error">{{ data['old_username_err'] }}</span>
                                </div>
                                <div class="form-fild">
                                    <p><label>New Password <span class="required">*</span></label></p>
                                    <input name="new_password" value="{{ data['new_password'] }}" type="password">
                                    <span class="error">{{ data['new_password_err'] }}</span>
                                </div>
                                <div class="form-fild">
                                    <p><label>Confirm the password<span class="required">*</span></label></p>
                                    <input name="two_password" value="{{ data['two_password'] }}" type="password">
                                    <span class="error">{{ data['two_password_err'] }}</span>
                                    <span class="error">{{ data['all_error'] }}</span>
                                </div>
                                <div class="login-submit">
                                    <button type="submit" class="form-button">Change</button>
                                </div>
                                <div class="lost-password">
                                    <a href="/">Return to the home page</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


